---
http_interactions:
- request:
    method: post
    uri: https://oosdemo.pscb.ru/merchantApi/checkPayment
    body:
      encoding: UTF-8
      string: '{"orderId":"12345","marketPlace":25633032}'
    headers:
      Signature:
      - eea8bdca0a360498fc618b63eea1b931aabc433480d87fcac53ce6f5b7b35722
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"STATUS_SUCCESS","requestId":"DEMO-170320-0145-A54F6A","payment":{"orderId":"12345","showOrderId":"12345","paymentId":"54703729","account":"10","amount":200.00,"state":"end","marketPlace":25633032,"paymentMethod":"ac","stateDate":"2017-03-18T02:15:16.731+03:00"}}'
  recorded_at: Sun, 19 Mar 2017 22:45:33 GMT
recorded_with: VCR 2.9.3
