---
http_interactions:
- request:
    method: post
    uri: https://oosdemo.pscb.ru/merchantApi/checkPayment
    body:
      encoding: UTF-8
      string: '{"orderId":"unknown_id","marketPlace":"25633032"}'
    headers:
      Signature:
      - 822e7f26b3049bf630baef73324a0eac5444e0b391fca0b0ac7b6cccf652a8a6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"STATUS_FAILURE","errorCode":"UNKNOWN_PAYMENT","errorDescription":"","requestId":"DEMO-170318-0243-4E6BBD"}'
  recorded_at: Fri, 17 Mar 2017 23:43:33 GMT
recorded_with: VCR 2.9.3
