---
http_interactions:
- request:
    method: post
    uri: https://oosdemo.pscb.ru/merchantApi/checkPayment
    body:
      encoding: UTF-8
      string: '{"orderId":"12346","marketPlace":25633032}'
    headers:
      Signature:
      - 3343ac364f0268cd5a0426fcc207f44ae14f33cedf78a48d4bc0ddd2f74861f8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"STATUS_SUCCESS","requestId":"PROD-170320-0134-21E64E","payment":{"orderId":"12346","showOrderId":"5e002cb8bea6329537e1","paymentId":"61787294","account":"5293","amount":200.000,"state":"err","marketPlace":25633032,"paymentMethod":"ac","stateDate":"2017-03-19T20:25:20.253+03:00"}}'
  recorded_at: Sun, 19 Mar 2017 22:34:29 GMT
recorded_with: VCR 2.9.3
