---
http_interactions:
- request:
    method: post
    uri: https://oosdemo.pscb.ru/merchantApi/payRecurrent
    body:
      encoding: UTF-8
      string: '{"orderId":"12345","newOrderId":"23456","marketPlace":25633032,"token":"13346679","amount":125.0}'
    headers:
      Signature:
      - 4c8fff81164263b15912310475650eccd884b6c7948c4defc23479582631cc26
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"STATUS_SUCCESS","requestId":"PROD-170320-0147-8A1982","payment":{"orderId":"23456","showOrderId":"12345","paymentId":"61814229","account":"12","amount":125.00,"state":"sent","marketPlace":25633032,"paymentMethod":"ac","stateDate":"2017-03-20T01:47:45.777+03:00"}}'
  recorded_at: Sun, 19 Mar 2017 22:47:49 GMT
recorded_with: VCR 2.9.3
