---
http_interactions:
- request:
    method: post
    uri: https://oosdemo.pscb.ru/merchantApi/refundPayment
    body:
      encoding: UTF-8
      string: '{"orderId":"12347","marketPlace":"25633032","partialRefund":false}'
    headers:
      Signature:
      - 2ee797ba5402c3c6ab319feb7f97e349ed41a0dce7fa58eadc3a2a80113732b7
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"STATUS_SUCCESS","requestId":"DEMO-170319-2329-378AB8","payment":{"orderId":"12347","showOrderId":"12347","paymentId":"54704486","account":"10","amount":200.00,"state":"end","marketPlace":25633032,"paymentMethod":"ac","stateDate":"2017-03-19T23:18:32.860+03:00","refunds":[{"refundId":"54704491","state":"PROC","amount":200.00}]},"createdRefund":{"refundId":"54704491","state":"PROC","amount":200.00}}'
  recorded_at: Sun, 19 Mar 2017 20:29:27 GMT
recorded_with: VCR 2.9.3
